body{
    background-color: rgb(226, 43, 156);
    color: rgb(114, 248, 170);
    section {
        background: rgb(91, 49, 131);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
        }
}
header {
    padding-bottom: 3%;
    padding-top: 3%;
}

.Classe_texto {
    margin-right: 5%;  
}
.vídeo{
    margin-right: 5%;  
}